span.girl{
    color: #f3419b;
    font-weight: 600;
}
span.boy{
    color: #1726dc;
    font-weight: 600;
}
.fr li.alpha-active a{
    background: #fff;
    border: 1px solid;
    color: #00BCD4;
}
table.cursor tr{
 cursor: pointer;
}